<div class="row">
  <div class="col-md-9">
    <h1>{{status}}</h1>

    <div class="col-md-4">
      <pagination-controls (pageChange)="getCpuUtilization($event)"></pagination-controls>
    </div>
    <div class="col-md-4">
      <label>
        Per Page:
        <select class="form-control" [(ngModel)]="pageSize" (change)="getCpuUtilization()">
          <option *ngFor="let size of pageSizes">{{size}}</option>
        </select>
      </label>
    </div>

    <table class="table table-bordered">
      <thead>
        <tr class="info">
          <th>PC Name</th>
          <th>CPU Usage</th>
          <th>Timestamp</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let item of cpuUtilizationRecords | paginate: { itemsPerPage: pageSize, currentPage: page, totalItems: totalCount }">
          <tr [ngClass]="item.cssColorClass">
            <td>{{item.pcName}}</td>
            <td>{{item.usage | number : '1.1-1'}} %</td>
            <td>{{item.timeStamp}}</td>
          </tr>
        </ng-container>
      </tbody>
    </table>

    <div class="col-md-4">
      <pagination-controls (pageChange)="getCpuUtilization($event)"></pagination-controls>
    </div>
    <div class="col-md-4">
      <label>
        Per Page:
        <select class="form-control" [(ngModel)]="pageSize" (change)="getCpuUtilization()">
          <option *ngFor="let size of pageSizes">{{size}}</option>
        </select>
      </label>
    </div>

  </div>
</div>
