<div class="row">
  <div class="col-md-9">
    <h1>{{status}}</h1>

    <pages [(options)]="pagerOptions" (onChange)="getCpuUtilization($event)"></pages>

    <table class="table table-bordered">
      <thead>
        <tr class="info">
          <th>PC Name</th>
          <th>CPU Usage</th>
          <th>Timestamp</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let item of cpuUtilizationRecords | paginate: { itemsPerPage: pagerOptions.pageSize, currentPage: pagerOptions.page, totalItems: pagerOptions.totalCount }">
          <tr [ngClass]="item.cssColorClass">
            <td>{{item.pcName}}</td>
            <td>{{item.usage | number : '1.1-1'}} %</td>
            <td>{{item.timeStamp | date : 'yyyy/MM/dd - h:mm a' }}</td>
          </tr>
        </ng-container>
      </tbody>
    </table>

    <pages [(options)]="pagerOptions" (onChange)="getCpuUtilization($event)"></pages>

  </div>
</div>
